/* Introdução */

.introducao{
    margin-top: 7.12vh;
    background-image: url("../img/home/bg-biofit1920x1281.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    height: 92.9vh;
    padding-top: 30vh;
}

span.sublinhado {
    box-shadow: inset 0 -0.175em #007bff;
    display: inline;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}
