/* Introdução */

.introducao{
    margin-top: 7.12vh;
    background-image: url('../img/home/bg-biofit520x271.jpg');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    height: 92.9vh;
    padding-top: 30vh;
}

span.sublinhado {
    box-shadow: inset 0 -0.175em #007bff;
    display: inline;
}
  
