/* Tablets na horizontal e Desktops normais */

@media (min-width: 768px) and (max-width: 1199px) {
    
    .introducao{
        background-image: url("../img/home/bg-biofit1024x683.jpg");
    } 

}
 
/* Smartphones na horizontal e Tablets na vertical */

@media (max-width: 767px) { 

    .introducao{
        background-image: url('../img/home/bg-biofit768x425.jpg');
    }

    .sobre-conteudo h2
    {
        text-align: center;
    }

}
 
/* Smartphones na vertical */

@media (max-width: 480px) {

    html {
        font-size: 0.75rem;
    }
    
    .introducao{
        background-image: url('../img/home/bg-biofit480x266.jpg');
    }

    .sobre-conteudo h2
    {
        text-align: center;
    }

    .display-sm{
        font-size: 3rem;
    }

    .text-sub-sm{
        font-size: 1.2rem;
    }
 }