/* Geral */

body{
    font-family: 'Roboto', sans-serif;
}

.subtitulo-laranja{
    color: #f2b705;
}

.subitulo-azul{
    color: #007bff;
}


.rotate-30{
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari 3-8 */
    transform: rotate(30deg);
}


.bg-cinza{
    background-color: #eeeeee;
}

.logo{
    font-family: 'Baloo', cursive;
    font-size: 36px;
}

.bg-laranja{
    background-color: #f2b705;
}

.border-2{
    border-width: 2px !important;
}

/* Treinos */

div[class*="treino-"]{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-shadow: 0px 2px 5px #000000;
}

.treino-musculacao{
    background-image: url('../img/treinos/musculacao907x478.jpg');
}

.treino-fitdance{
    background-image: url('../img/treinos/fitdance400x399.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-shadow: 0px 2px 5px #000000;
}

.treino-boxe{
    background-image: url('../img/treinos/boxe400x399.jpg');
}

.treino-zumba{
    background-image: url('../img/treinos/zumba400x399.png');
}

.treino-yoga{
    background-image: url('../img/treinos/yoga400x399.jpg');
}

.card-destaque{
    height: 296px;
    border-left: 6px solid #FA3000;
}
.card-comum{
    height: 298px;
}

.treino-fitdance{
    border-left: 6px solid #f2b705;
}

.treino-boxe{
    border-left: 6px solid #7C53F5;
}

.treino-zumba{
    border-left: 6px solid #C4DE02;
}

.treino-yoga{
    border-left: 6px solid #0163F5;
}

/* Frases Motivacionais */

.peso-01{
    position: absolute;
    margin: auto;
    position: absolute;
    top: -40px; left: 0; bottom: 0; right: 0;
}

.peso-azul{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    transform: rotate(-45deg);
}

.peso-verde{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    transform: rotate(-45deg);
}

/* Plugins */

/* player-user-cards */

.treinos .card .additional {
    position: absolute;
    width: 0;
    height: 100%;
    transition: width 0.4s;
    overflow: hidden;
    opacity: .9;
    fill-opacity: alpha(5)
}

.treinos .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.treinos .card:hover .card-body p{
    visibility: hidden;
}

.treinos .card.vermelho .additional{
    background: linear-gradient(#fa3000, #fa3000);
}

.treinos .card.amarelo .additional{
    background: linear-gradient(#f2b705, #f2b705);
}

.treinos .card.roxo .additional{
    background: linear-gradient(#7C53F5, #7C53F5);
}

.treinos .card.limao .additional{
    background: linear-gradient(#c4de02, #c4de02);
}

.treinos .card.azul .additional{
    background: linear-gradient(#0163f5, #0163f5);
}


/* Plugins */


/* Depoimentos */

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.blue-gradient {
    background: linear-gradient(40deg,#45cafc,#303f9f) !important;
}

.indigo {
    background-color: 
    #3f51b5 !important;
}

.info-color {
    background-color: 
    #33b5e5 !important;
}


.img-fluid{
    max-width: 100%;
    height: auto;
}

.rounded-circle {
    border-radius: 50% !important;
}

.testimonial-card .avatar {
    border-radius: 50%;
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid 
    #fff;
}