/* Geral */

body{
    font-family: 'Roboto', sans-serif;
}

.c-laranja{
    color: #f2b705;
}

.subtitulo-laranja{
    color: #f2b705;
}

.subitulo-azul{
    color: #007bff;
}


.rotate-30{
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari 3-8 */
    transform: rotate(30deg);
}


.bg-cinza{
    background-color: #eeeeee;
}

.logo{
    font-family: 'Baloo', cursive;
    font-size: 36px;
}

.logo-footer{
    font-family: 'Baloo', cursive;
}

.bg-laranja{
    background-color: #f2b705;
}

.border-2{
    border-width: 2px !important;
}

.btn-laranja{
    background-color: #f2b705;
}

.btn-laranja:hover{
    background-color: #DEA600;
}

/* Treinos */

div[class*="treino-"]{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-shadow: 0px 2px 5px #000000;
}

.treino-musculacao{
    background-image: url('../img/treinos/musculacao907x478.jpg');
}

.treino-fitdance{
    background-image: url('../img/treinos/fitdance400x399.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-shadow: 0px 2px 5px #000000;
}

.treino-boxe{
    background-image: url('../img/treinos/boxe400x399.jpg');
}

.treino-zumba{
    background-image: url('../img/treinos/zumba400x399.png');
}

.treino-yoga{
    background-image: url('../img/treinos/yoga400x399.jpg');
}

.card-destaque{
    height: 296px;
    border-left: 6px solid #FA3000;
}
.card-comum{
    height: 298px;
}

.treino-fitdance{
    border-left: 6px solid #f2b705;
}

.treino-boxe{
    border-left: 6px solid #7C53F5;
}

.treino-zumba{
    border-left: 6px solid #C4DE02;
}

.treino-yoga{
    border-left: 6px solid #0163F5;
}

/* Frases Motivacionais */

.peso-01{
    position: absolute;
    margin: auto;
    position: absolute;
    top: -40px; left: 0; bottom: 0; right: 0;
}

.peso-azul{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    transform: rotate(-45deg);
}

.peso-verde{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    transform: rotate(-45deg);
}

/* Plugins */

/* player-user-cards */

.treinos .card .additional {
    position: absolute;
    width: 0;
    height: 100%;
    transition: width 0.4s;
    overflow: hidden;
    opacity: .9;
    fill-opacity: alpha(5)
}

.treinos .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.treinos .card:hover .card-body p{
    visibility: hidden;
}

.treinos .card.vermelho .additional{
    background: linear-gradient(#fa3000, #fa3000);
}

.treinos .card.amarelo .additional{
    background: linear-gradient(#f2b705, #f2b705);
}

.treinos .card.roxo .additional{
    background: linear-gradient(#7C53F5, #7C53F5);
}

.treinos .card.limao .additional{
    background: linear-gradient(#c4de02, #c4de02);
}

.treinos .card.azul .additional{
    background: linear-gradient(#0163f5, #0163f5);
}


/* Plugins */

/* Depoimentos */

.depoimentos{
    background-image: url(../img/home/bg-depoimentos.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.depoimentos .card{
    opacity: 0.9;
}

.imgs-depoimentos{
    max-width: 150px;
}

/* Footer */

.bg-footer{
    background: #2f2f2f;
}

/* Plugins */

/* jquery-social-share-bar */
#share-bar {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
  }
  
  .sharing-providers {
    list-style-type: none;
  }
  .sharing-providers {
    padding: 0;
    margin: 0;
  }
  .sharing-providers > li {
    display: block;
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
    background: #777777;
    transition: 0.5s all;
  }
  .sharing-providers.circle > li {
    border-radius: 50%;
    margin: 2px;
  }
  #share-bar.left {
   left: 0;
  }
  #share-bar.left .sharing-providers > li {
   margin-left: 0;
  }
  #share-bar.right {
   right: 0;
  }
  #share-bar.right .sharing-providers > li {
   margin-right: 0;
  }
  
  .sharing-providers > li > a {
    text-decoration: none !important;
    font-family: 'FontAwesome';
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: block;
  }
  .sharing-providers.circle > li > a {
    border-radius: 50%;
  }
  .sharing-providers > li > a {
    color: white;
    font-size: 25px;
  }
  .sharing-providers > li > a,
  .sharing-providers > li > a:hover {
    text-decoration: none;
  }
  
  #share-bar.animate .sharing-providers > li:hover {
    transform: translateX(5px);
  }
  
  #share-bar.right.animate .sharing-providers > li:hover {
    transform: translateX(-5px);
  }
  
  .sharing-providers > li.facebook:hover {
    background: #4267B2;
    
  }
  
  .sharing-providers > li.googleplus:hover {
    background: #d14836;
  }
  
  .sharing-providers > li.twitter:hover {
    background: #1DA1F2;
  }
  
  .sharing-providers > li.linkedin:hover {
    background: #0077B5;
  }
  
  .sharing-providers > li.tumblr:hover {
    background: #2c4762;
  }
  
  .sharing-providers > li.digg:hover {
    background: #333333;
  }
  
  .sharing-providers > li.reddit:hover {
    background: #5f99cf;
  }
  
  .sharing-providers > li.pinterest:hover {
    background: #cb2027;
  }
  
  .sharing-providers > li.stumbleupon:hover {
    background: #EB4924;
  }
  
  .sharing-providers > li.email:hover {
    background: #E3A129;
  }
  
  @media (max-width: 680px) {
    #share-bar {
      bottom: 0;
      top: auto;
      transform: translate(-50%, 0);
      left: 50% !important;
      right: auto;
      background: white;
      width: 100%;
      text-align: center;
      padding: 8px;
    }
    #share-bar .sharing-providers > li {
      display: inline-block;
    }
    #share-bar.animate .sharing-providers > li:hover {
      transform: translateX(0px) !important;
      transform: translateY(-5px) !important;
    }
  }

  /* Nav stroke */

div.stroke ul li a, div.stroke ul li a:after, div.stroke ul li a:before {
    transition: all .5s;
}

div.stroke ul li a{
  position: relative;
}
div.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #007bff;
  height: 2px;
}
div.stroke ul li a:hover:after {
  width: 100%;
}